.projects {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    margin-bottom: 50px;
}
.project {
    position: relative;
    height: 220px;
    background-color: #c3c3c3;
    width: 100%;
    transition: all .10s ease-out;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    cursor: pointer;
    will-change: box-shadow, width;
    text-decoration: none;
}
a {
    text-decoration: none;
}
.project:hover {
    width: calc(100% + 140px);
    -webkit-box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.2);
}
.projectOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(14, 0, 117, 0);
    opacity: 0;
    z-index: 6;
    transition: all .2s ease-out;
    padding: 20px;
    box-sizing: border-box;
    will-change: background-color, opacity;
}
.project:hover .projectOverlay {
    background-color: rgba(14, 0, 117, 0.4);
    opacity: 1;
}
.projectBg {
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    transition: all .2s ease-out;
    will-change: filter;
}
.projectInfo {
    color: white;
}
.project:hover .projectBg {
    filter: blur(5px);
}

@media (max-width: 1080px) {
    .project:hover {
        width: 100vw;
    }
}
@media (max-width: 800px) {
    .projects {
        padding: 0 20px;
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility:  hidden;
        backface-visibility:  hidden;
    }
    h1 {
        padding: 0;
        margin: 0;
    }
    .project {
        height: 140px;
        outline: none; 
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility:  hidden;
        backface-visibility:  hidden;
    }
    .projectBg {
        width: auto;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility:  hidden;
        backface-visibility:  hidden;
    }
    
}