.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contentArea {
  max-width: 1080px;
  height: 1000px;
  margin-top: 65px;
  width: 100%;
  transition: all .2s;
}
.hide {
  opacity: 0;
}
